{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">

    <title>Document</title>
</head>
<body>
    <center>
        <h1>King of Indian Cricket</h1>
        <img src="{% static 'images/msd.jpg' %}" alt="" >
    </center>
    <p><h2>Mahendra Singh Dhoni is an Indian professional cricketer, who plays as a wicket-keeper-batsman. Widely regarded as one of the world's greatest wicket-keeper-batsmen and captains in the history of the sport, he is known for his explosive batting, wicket-keeping and leadership skills.</h2></p>
</body>
</html>